@import "../../style/colors.scss";

.page.home {
    display: flex;
    background-image: url(./HomeBackground.jpg);
    background-size: cover;
}

// right panel
.page.home>.right {
    margin-left: auto;
    background-color: black;
    padding: 2.5em;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    flex-direction: column;

    // Title text
    .title {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    // Subtitle text
    .subtitle {
        margin-bottom: 2.5rem;
    }

    // Separator
    .separator {
        height: 1px;
        background-color: $colorSecondary;
        margin-bottom: 2.5rem;
    }

    // Form buttons
    .buttons {
        flex: 1;

        button {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    // Link box
    .links>a {
        color: $colorSecondary;
        text-decoration: none;

        &:visited {
            color: $colorSecondary;
        }
    }

    .logo {
        background-image: url(../../assets/misc/logo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 128px;
        width: 100%;
    }
}

// <= 768px screens (mobile mode)
@media screen and (max-width: 768px) {
    .page.home>.right {
        width: 100%;
    }
}