@import "../../../style/colors.scss";
@import "../../../style/mixins/ProfilePicture.scss";

.ui-post {
    padding: 15px;
    border-bottom: 1px solid $colorT5;

    &:not(.static) {
        &:hover {
            background-color: $colorT5;
            cursor: pointer;

            .dropdown-btn {
                position: relative;
                z-index: 10000;
                visibility: visible;
            }
        }

        .dropdown-btn {
            visibility: hidden;
        }
    }

    .dropdown-btn {
        &:hover, &.active {
            background-color: $colorT4;
            border-radius: 100px;
            visibility: visible !important;
        }
    }

    // Top part of post
    // Contains post body, username, and avatar
    .top {
        display: flex;

        .left {
            .avatar {
                cursor: pointer;
                height: 42px;
                width: 42px;
                @include profile-picture(url(../../assets/icons/svg/user/profile.svg));
            } 
    
            margin-right: 15px;
        }
        
        // Content pane
        .right {
            flex: 1;
            overflow: hidden;
    
            .user-info {
                margin-bottom: 10px;
                display: flex;
                
                .dname {
                    font-weight: bold;
                    color: $colorSecondary;
                    text-decoration: none;
                    margin-right: 0.5em;
    
                    &:hover {
                        text-decoration: underline;
                    }
    
                    &:visited {
                        color: $colorSecondary;
                    }

                    .badge {
                        vertical-align: top;
                    }
                }
    
                >.uname {
                    color: gray;
                }
            }
    
            .text-content {
                white-space: pre-line;
                line-height: 1.4;
                word-break: break-word;
            }
    
            .date-marker {
                margin-top: 10px;
                color: gray;
                text-align: right;
            }
        }
    }

    .edited-indicator {
        color: gray;
        font-size: 14px;
    }
}