@import "../../style/colors.scss";

.ui-post {
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #292929;

    &:not(.static) {
        &:hover {
            background-color: $colorT5;
            cursor: pointer;

            .dropdown-btn {
                position: relative;
                z-index: 10000;
                visibility: visible;
            }
        }

        .dropdown-btn {
            visibility: hidden;
        }
    }

    .dropdown-btn {
        &:hover, &.active {
            background-color: $colorT4;
            border-radius: 100px;
            visibility: visible !important;
        }
    }

    .left {
        .avatar {
            cursor: pointer;
            height: 42px;
            width: 42px;
            background-image: url(../../assets/icons/svg/frowning2.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
        } 

        margin-right: 15px;
    }

    .right {
        flex: 1;

        .user-info {
            margin-bottom: 10px;
            display: flex;
            
            a {
                font-weight: bold;
                color: $colorSecondary;
                text-decoration: none;
                margin-right: 0.5em;

                &:hover {
                    text-decoration: underline;
                }

                &:visited {
                    color: $colorSecondary;
                }
            }

            >.uname {
                color: gray;
            }
        }

        .text-content {
            white-space: pre-line;
        }

        .date-marker {
            margin-top: 10px;
            color: gray;
            text-align: right;
        }
    }

    .edited-indicator {
        color: gray;
        font-size: 14px;
    }
}