@import "../../style/mixins/ProfilePicture.scss";
@import "../../style/colors.scss";

.sidebar {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: center;

    .title {
        font-size: 28px;
        font-weight: bold;
    }

    .profile-box {
        margin-top: 2em;
        margin-bottom: 2em;

        // Avatar image
        .avatar {
            @include profile-picture(url(../../assets/icons/svg/user/profile.svg));
            height: 54px;
            width: 54px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
        }

        // Username box
        .username {
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        :not(.primary) {
            border-color: transparent;
        }

        button {
            margin-bottom: 1em;
            min-width: 200px;
        }
    }
}

.sidebar-mobile {
    height: 50px;
    background-color: $colorTertiary;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        flex: 1;
        text-align: center;
        margin-right: 50px; // account for hamburger menu displacement
    }

    border-bottom: 1px solid #292929;
    display: flex;
}