@import "../../style/colors.scss";

.ui-tab-control {
    .pages {
        display: flex;
        box-sizing: border-box;

        >.blade {
            padding: 15px 20px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.active {
                border-bottom-color: $colorAccent;
            }
        }
    }
}