@mixin profile-picture($url) {
    background-image: $url;
    background-color: #5b5b5b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}