@import "../.././../style/colors.scss";

.bio-box {
    padding: 20px;

    .section-title {
        font-weight: bold;
        color: gray;
        margin-bottom: 1em;
    }

    .content {
        line-height: 1.5;
    }

    border-bottom: 1px solid $colorT5;
}