@import "../../style/colors.scss";

.ui-post-text {
    background-color: transparent;
    color: $colorSecondary;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    line-height: 1.4;
}

.ui-post-editor {
    .ui-post-text {
        background-color: $colorPrimary;
        width: 380px;
        height: 130px;
    }
}