@import "../../style/colors.scss";

.ui-post-editor {
    .post-text {
        background-color: $colorPrimary;
        color: $colorSecondary;
        border: none;
        outline: none;
        resize: none;
        font-size: 18px;
        width: 380px;
        height: 130px;
        line-height: 1.4;
    }
}