@import "../../style/colors.scss"; 
@import "../../style/mixins/ProfilePicture.scss";

.ui-reply-box {
    border-bottom: 1px solid #292929;

    .top {
        padding: 15px;
        display: flex;

        .left {
            .avatar {
                cursor: pointer;
                height: 42px;
                width: 42px;
                @include profile-picture(url(../../assets/icons/svg/user/profile.svg));
            } 
    
            margin-right: 15px;
        }

        .input {
            flex: 1;
            display: grid;

            textarea {
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
            }

            &::after {
                content: attr(data-replicated-value) " ";
                visibility: hidden;
                white-space: pre-wrap;
                font-size: 18px;
                line-height: 1.4;
            }
        }

        .input>textarea,
        .input::after {
            /* Place on top of each other */
            grid-area: 1 / 1 / 2 / 2;
        }

        .right {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            button {
                padding: 8px 20px;
                font-size: 14px;
                margin-bottom: auto;
                margin-top: auto;
            }
        }
    }

    .ui-error-box {
        margin: 15px;
        margin-top: 0;
    }
}